@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body {
    margin: 0;
}

.container {
    margin: 0 10%;
}

.row-3 {
    display: flex;
    justify-content: space-between;
}

.row-3 > div {
    width: 27%;
}

/*Section menu*/

.menu {
    margin-top: 50px;
    margin-left: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.menu-position {
    display: flex;
    justify-content: space-between;
    padding: 34px 32px;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    float: right;
}

ul.topnav li a {
    display: inline-block;
    color: #111518;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

a:hover {
    background-color: #f9d10d;
}

/*Maine title*/

.central-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.central-title {
    margin-top: 82px;
    margin-left: 182px;
}

.menu-title-style {
    color: #111518;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 70px;
    line-height: 72px;
    letter-spacing: 3.01px;
}

/* Maine photo */

.maine-photo {
    margin-top: 74px;
}

.layer-photo {
    width: 100%;
}

/* About us */

.about {
    margin-top: 8%;
}

.title-item {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 0.01px;
    color: #101417;
    font-size: 36px;
    line-height: 80px;
}

ul.list-about {
    list-style-type: disc;
    font-size: 16px;
    color: #101417;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

/* Home Footer */

.footer {
    margin-top: 118px;
    width: 100%;
    height: 678px;
    background-color: #1d1e25;
}

.block-footer {
    display: flex;
    padding: 9%;
    justify-content: space-around;
}

.text-name-footer {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 55px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 2.4px;
}

.yellowe-footer-line {
    width: 55%;
    margin: 7% 0;
}

.form {
    display: flex;
}

.message {
    font-family: 'Raleway', sans-serif;
    width: 480px;
    height: 47px;
    border: 1px solid #60e3a1;
    background-color: #1d1e25;
    opacity: 0.9;
    color: #60e3a1;
}

.comment {
    height: 145px;
    width: 480px;
}

input[type="text"]::-webkit-input-placeholder {
    font-family: 'Raleway', sans-serif;
    opacity: 0.6;
    color: #60e3a1;
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
    padding: 3%;
}

.text-name-footer {
    width: 234px;
    height: 91px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 50px;
}

a.buttons {
    width: 148px;
    height: 51px;
    text-decoration: none;
    color: #1d1e25;
    text-align: center;
    line-height: 20px;
    display: block;
    margin: 25px 1px;
    padding: 17px 30px;
    border: solid 1px #60e3a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 3px;
    font: 16px 'Raleway', sans-serif;
    font-weight: bold;
    background: #60e3a2;
}

hr {
    height: 1px;
    background-color: #4a4d5e;
    opacity: 0.3;
    border: none;
    margin: 28px;
}

/* Section footer info */

.footer-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-info-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mail {
    padding: 0 2%;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.footer-copy {
    color: #4a4d5e;
    font-size: 13px;
    line-height: 26px;
}

/* Section main text */

.text-position {
    margin: 5% 21%;
}

.link-container {
    display: flex;
}

.container-photo-product {
    max-width: 90%;
}

.container-photo-product > img {
    padding: 15px;
    max-width: 95%;
}

.title-content {
    margin-top: 35px;
    color: #101417;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 3.03px;
}

.container-info-page {
    width: 100%;
    margin-left: 1%;;
}

.container-info-page > p {
    margin-top: 26px;
    color: #707070;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 35px;
    font-weight: 600;
    max-width: 95%;
}

.comentnav {
    width: 138px;
    height: 16px;
    color: #1d1e25;
    padding: 2%;
    font-family: 'Raleway', sans-serif;
}

.line-second {
    width: 774px;
    height: 1px;
    background-color: #4a4d5e;
    opacity: 0.1;
    margin-left: 21%;
}

.title-second {
    margin-left: 30%;
    margin-top: 5%;
    opacity: 0.5;
    color: #111518;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 72px;
}

.green-btn {
    margin-left: 43%;
    color: #1d1e25;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 53px;
}

a.btn-green {
    width: 224px;
    height: 60px;
    text-decoration: none;
    color: #1d1e25;
    text-align: center;
    line-height: 20px;
    display: block;
    margin: 25px 1px;
    padding: 17px 30px;
    border: solid 1px #60e3a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 3px;
    font: 16px 'Raleway', sans-serif;
    font-weight: bold;
}

.footer-second {
    margin-top: 7%;
    background: #1d1e25;
    height: 102px;
}

.second {
    margin-top: 2%;
}

.card-content {
    margin: 5%;
}

.card-title {
    color: #333333;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
}

.card-text {
    color: #888888;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.btn-content {
    background-color: #60e3a1;
}

.card {
    margin: 2%;
}

@media screen and (max-width: 1268px) {
    .container {
        margin: 2% 6%;
    }

    .second {
        margin-top: 1%;
    }
}

@media screen and (max-width: 992px) {
    .central-title {
        margin-left: 130px;
    }

    .row-3 {
        display: block;
        justify-content: space-between;
        margin-left: 3%;
        padding: 3%;
    }
    .menu-title-style {
        font-size: 59px;
    }

    .title-item {
        font-size: 20px;
    }

    .container {
        margin: 1% 1%;
    }

    .text-name-footer {
        font-size: 46px;
    }

    .line-second {
        margin-left: 8%;
    }

    .title-second {
        margin-left: 23%;
    }

    .green-btn {
        margin-left: 38%;
    }

    .central-title {
        margin-left: 12px;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        margin-left: 26px;
    }

    .menu-title-style {
        font-size: 34px;
    }

    .title-content {
        font-size: 26px;
    }

    .line-second {
        margin-left: 1%;
    }

    .title-second {
        margin-left: 12%;
    }

    .green-btn {
        margin-left: 30%;
    }

    .mail {
        font-size: 13px;
    }

    .card-title {
        font-size: 16px;
    }

    .card-text {
        font-size: 12px;
    }

    a.btn-green {
        width: 183px;
        font: 14px 'Raleway', sans-serif;
    }

    .text-name-footer {
        font-size: 33px;
    }

    .container {
        margin: 2% 12%;
    }

    .title-item {
        font-size: 19px;
    }

    ul.list-about {
        font-size: 13px;
    }
}

@media screen and (max-width: 500px) {
    .menu-position {
        padding: 32px 20px;
    }

    ul.topnav li a {
        font-size: 9px;
    }

    .menu-title-style {
        font-size: 18px;
        line-height: 47px
    }
    .title-item {
        font-size: 16px;
    }

    .block-footer {
        display: block;
    }

    .message {
        width: 380px;
    }

    .comment {
        width: 380px;
    }

    .title-content {
        font-size: 19px;
    }

    .container-info-page > p {
        font-size: 12px;
        line-height: 24px;
    }

    .title-second {
        margin-left: 9%;
        font-size: 18px;
    }
}